.half_width_container {
    width: 50%;
}

.border_container {
    border: solid black;
    border-radius: 5px;
}

.star_rating {
    color: gold;
    font-size: 10px;   
}

.center-align {
    text-align: center;
}

.margin-btn {
    margin: 5px;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.margin-top {
    margin-top: 10px;
}

.search_button {
    border-radius: 5px;
    background-color: white;
    border: 1px solid black;
}

.search_hover {
    background-color: rgba(0, 0, 0, 0.329);
    color: white;
}

.custom_a {
    color: black;
}

.author_color {
    color: rgb(236, 27, 27);
}

.title_color {
    color: black;
}

a.pagination {
    margin: 5px;
    font-size: 20px;
}

.img_height_width {
    height: 210px;
    width: 150px;
}

.ellipses {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.active_page {
    font-style: italic;
}
