{% extends 'base.html' %}
{% block page_title %} <title>Add Book</title> {% endblock %}

{% block content %}
<br>
<div class="container half_width_container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Add a Book</h2>
        </div>
    </div>
</div>
<br>

<div class="container half_width_container">
    <form action="{{ url_for('insert_book') }}" method="POST">
        <!-- Allows some books to be deleted whereas others will be permanent -->
        <input id="delete_book" name="delete_book" type="hidden" value="true">

        <!-- Add book name -->
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="book_name">Book Title</label>
                <input type="text" class="form-control" id="book_name" name="book_name" placeholder="Book Title" required="True">
            </div>
        </div>

        <!-- Add book author -->
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="author_name">Book Author</label>
                <input type="text" class="form-control" id="author_name" name="author_name" placeholder="Book Author"
                    required="True">
            </div>
        </div>

        <!-- Add image for book -->
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="book_url">Image</label>
                <input type="text" class="form-control" id="book_url" name="book_url" placeholder=".jpg image">
            </div>
        </div>

        <!-- Add website link for book if needed -->
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="book_url">Website Link</label>
                <input type="text" class="form-control" id="book_url" name="book_url" placeholder="e.g. https://www.waterstones.com">
            </div>
        </div>

        <!-- Add genre - dropdown list -->
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="genre_name">Genre</label>
                <select class="form-control" id="genre_name" name="genre_name" required="True">
                    <option value="" disabled selected>Choose your Genre</option>
                    {% for genre in book_genre %}
                    <option value="{{ genre.genre_name }}">{{ genre.genre_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <!-- Add fiction or non-fiction - dropdown list -->
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="fact_fiction">Non-Fiction/Fiction</label>
                <select class="form-control" id="fact_fiction" name="fact_fiction" required="True">
                    <option value="" disabled selected>Non-Fiction or Fiction</option>
                    {% for fiction_non in fiction_non %}
                    <option value="{{ fiction_non.fact_fiction }}">{{ fiction_non.fact_fiction }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <!-- Add rating -->
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="rating_value">Rating</label>
                <select class="form-control" id="rating_value" name="rating_value" required="True">
                    <option value="" disabled selected>Choose your Rating</option>
                    {% for rating in rating %}
                        <option value="{{ rating.rating_value }}">{{ rating.rating_value }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <!-- Add book description -->
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="book_info">Book Description</label>
                <textarea class="form-control" id="book_info" name="book_info" rows="3" required="True"></textarea>
            </div>
        </div>

        <div class="row">
            <button class="btn btn-primary" type="submit">Add Book</button>
        </div>
    </form>
</div> <!-- Closing form container class -->
{% endblock %}