{% extends 'base.html' %}
{% block page_title %} <title>Edit a Book</title> {% endblock %}

{% block content %}
<div class="container half_width_container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Edit a Book</h2>
        </div>
    </div>
</div>
<br>
<div class="container half_width_container">
    <form action="{{ url_for('update_book', book_id=book._id) }}" method="POST" class="col-sm-12">
        
        <!-- Allows some books to be deleted whereas others will be permanent -->
        <input id="delete_book" name="delete_book" type="hidden" value="{{book.delete_book}}">
        
        <!-- Update book name -->
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="book_name">Book Title</label>
                <input type="text" class="form-control" id="book_name" name="book_name" value="{{book.book_name|title}}" required="True">
            </div>
        </div>

        <!-- Update author -->
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="author_name">Author</label>
                <input type="text" class="form-control" id="author_name" name="author_name" value="{{book.author_name|title}}" required="True">
            </div>
        </div>

        <!-- Update book image -->
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="book_url">Image</label>
                <input type="text" class="form-control" id="book_url" name="book_url" value="{{book.book_url}}" placeholder="Copy image address to get .jpg image type">
            </div>
        </div>

        <!-- Update website link -->
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="book_website">Website Link</label>
                <input type="text" class="form-control" id="book_website" name="book_website" value="{{book.book_website}}"
                    placeholder="e.g. https://www.waterstones.com">
            </div>
        </div>

        <!-- Update genre -->
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="genre_name">Genre</label>
                <select class="form-control" id="genre_name" name="genre_name">
                    <option value="" disabled selected>Choose your Genre</option>
                    {% for genre in all_genre %}
                        {% if genre.genre_name == book.genre_name %}
                            <option value="{{ genre.genre_name }}" selected >{{ genre.genre_name }}</option>
                        {% else %}
                            <option value="{{ genre.genre_name }}">{{ genre.genre_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>

        <!-- Update fiction/non-fiction status -->
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="fact_fiction">Non-Fiction/Fiction</label>
                <select class="form-control" id="fact_fiction" name="fact_fiction">
                    <option value="" disabled selected>Non-Fiction or Fiction</option>
                    {% for type in fact_fiction %}
                        {% if type.fact_fiction == book.fact_fiction %}
                            <option value="{{ type.fact_fiction }}" selected >{{ type.fact_fiction }}</option>
                        {% else %}
                            <option value="{{ type.fact_fiction }}">{{ type.fact_fiction }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>

        <!-- Update book rating -->
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="rating_value">Rating</label>
                <select class="form-control" id="rating_value" name="rating_value">
                    <option value="" disabled selected>Choose your Rating</option>
                    {% for rating_num in rating %}
                        {% if rating_num.rating_value == book.rating_value %}
                            <option value="{{ rating_num.rating_value }}" selected >{{ rating_num.rating_value }}</option>
                        {% else %}
                            <option value="{{ rating_num.rating_value }}">{{ rating_num.rating_value }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>

        <!-- Update book description -->
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="book_info">Book Description</label>
                {% for info in info %}
                    <textarea class="form-control" id="book_info" name="book_info" rows="3" required="True">{{info}}</textarea>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <button class="btn btn-primary" type="submit">Update Book</button>
        </div>

    </form>
</div> <!-- Closing form container class -->
{% endblock %}