{% extends 'base.html' %}
{% block page_title %} <title>Fiction Books</title> {% endblock %}

{% block content %}
<div class="container margin_top">
    <div class="row">
        <div class="col-sm-12">
            <h2>All Fiction Books</h2>
        </div>
    </div>
</div>

<!-- Displays the genres associated with the fiction titles -->
<div class="container margin_top">
    <div class="row">
        {% for genre in fiction_genres %}
            <form action="{{ url_for('fiction_genre_search') }}" method="POST">
                <div class="col-sm-12 col-md-4">
                    <button class="search_button" type="submit" name="genre_name" value="{{genre.genre_name}}">{{genre.genre_name}}</button>
                </div>
            </form>
        {% endfor %}
    </div>
</div>

<!-- Button for other books -->
<div class="container">
    <a href="{{ url_for('other_fiction_books') }}"><button class="search_button" type="submit" name="other_genre_name"
            value="Other">Other</button></a>
</div>

<!-- Total number of fiction books -->
<div class='container margin_top'>
    <div class='row'>
        <div class='col-sm-12 col-md-12'>

            <!-- Count for results -->
            {% if book_count == 0 %}
                <p>No Fiction Books Found</p>

            {% elif book_count == 1 %}
                <p>{{book_count}} Fiction Book Found</p>
                
            {% else %}
                <p>{{book_count}} Fiction Books Found</p>
            {% endif %}

        </div>
    </div>
</div>

<!-- All fiction books -->
<div class="container">
    <div class="row">
        {% for book in fiction %}
            <div class="col-sm-12 col-md-4">

                <!-- Displays book title with link to be redirected to the full book details -->
                <a href="{{ url_for('full_book_details', book_id=book._id)}}">
                    <h5 class="ellipses title_color">{{book.book_name|title}}</h5>
                </a>

                <!-- Author name -->
                <p class="ellipses author_color">by {{book.author_name|title}}</p>

                <!-- Rating of book -->
                <p>{{book.rating_value}} <i class="fa fa-star star_rating"></i></p>

                <!-- If there is an image uploaded for the book it will be displayed -->
                {% if book.book_url %}
                    <p>
                        <a href="{{ url_for('full_book_details', book_id=book._id) }}"><img class="img_height_width" src="{{book.book_url}}" alt="{{book.book_name}}"></img></a>
                    </p>
                
                <!-- If there isn't an image, a default image will be shown instead -->
                {% else %}
                    <p>
                        <a href="{{ url_for('full_book_details', book_id=book._id) }}"><img class="unknown_img"
                                src="{{ url_for('static', filename='img/unknown_book.png' )}}"
                                alt="{{book.book_name}}"></img></a>
                    </p>
                {% endif %}
            </div> <!-- closing col-sm-12 -->
        {% endfor %}
    </div> <!-- closing row -->

    <!-- Pagination -->
    <ul class="pagination">
        {% for page_number in page %}

            <!-- Displays the current page number -->
            {% if page_number == current_page %}
                <li class="active"><a class="pagination">{{ page_number }}</a></li>
                
            <!-- Displays the next page number(s) -->
            {% else %}
                <li class="waves-effect"><a class="pagination"
                    href="{{ url_for('fiction_books', current_page=page_number) }}">{{ page_number }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    
    <!-- Button to be redirected to all books page -->
    <p class="margin_bottom"><a class="btn btn-lg btn-success" href="{{ url_for ('search_page') }}" role="button">Search all books</a></p>
    
</div> <!-- closing container -->

{% endblock %}