{% extends 'base.html' %}
{% block page_title %} <title>Full Book Details</title> {% endblock %}

{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6">

            <!-- Specific book details -->
            <h2>{{book.book_name|title}}</h2>
            <p>{{book.author_name|title}}</p>
            <p>{{book.rating_value}} <i class="fa fa-star star_rating"></i></p>
            <br>
            <h5>Brief Overview</h5>

            <!-- Book description - has been altered so it will capitalize first letter, but other letters within 
            the description can still be capitalized. Can be seen in app.py -->
            {% for description in info %}
                <p>{{description}}</p>
            {% endfor %}

        </div>
        
        <div class="col-sm-12 col-md-6">
            <!-- If book image upload is successful, the image will be loaded -->
            {% if book.book_url %}
                <img src="{{book.book_url}}" height="260" width="190" alt="{{book.book_name}}"></img>
            
            <!-- If the image has not been uploaded correctly a default image will be displayed, and a message
            is displayed asking the user if they want to upload a website link for the image instead -->
            {% else %} 
                <!-- Default image -->
                <p><img src="{{ url_for('static', filename='img/unknown_book.png' )}}" height="250" width="250" alt="{{book.book_name}}"></img></p>
                
                <!-- If there is a website link already uploaded for a book, only a link to the website will be displayed -->
                {% if book.book_website %}
                    <p>Oops, looks like your picture hasn't loaded correctly, luckily you've linked a website</p>
                    <p>Click<a href="{{book.book_website}}"> here</a> to be sent to your link</p>
                
                <!-- If there isn't a website link uploaded, the user will be asked if they want to link a website  -->
                {% else %}
                    <p>Oops, looks like your picture hasn't loaded correctly</p>
                    <p>Click <a href="{{ url_for('edit_book', book_id=book._id) }}"> here</a> to link a website for the image</p>
                {% endif %}
                
            {% endif %}
        </div> <!-- Close col classes -->

    </div> <!-- Close row -->
</div> <!-- Close container -->
<br>


<!-- Button to be able to edit or delete a book, if applicable -->
<div class="container">
    <div class="row">

        <!-- If the book isn't allowed to be deleted, a 'delete book' button won't be shown -->
        {% if book.delete_book == 'false' %}
            <p><a href="{{ url_for('edit_book', book_id=book._id) }}" class="btn btn-primary margin-btn">Edit Book</a></p>
        
        <!-- Otherwise, a 'delete button' will be shown -->
        {% else %}
            <p><a href="{{ url_for('edit_book', book_id=book._id) }}" class="btn btn-primary margin-btn">Edit Book</a></p>

            <!-- Button and form function to delete a book -->
            <div>
                <button class="btn btn-primary margin-btn" onclick="deleteConfirm('{{ book._id }}')">Delete book</button>
                <p id="demo"></p>
                <form id="deleteForm{{book._id}}" action="{{ url_for('delete_book', book_id=book._id) }}" method="GET"></form>
            </div>

        {% endif %}
    </div>
</div>
<br>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h5>You might also like...</h5>
        </div>
    </div>
</div>
<br>

<!-- Logic to query the database to see if there are any books with the same genre as the one on the page -->
<div class="container">
    <div class="row">
        <!-- Finds all books in the database -->
        {% for all in all_books %}

            <!-- Check whether there are any books in the database with the same genre as the one on this page -->
            {% if all.genre_name == book.genre_name %}
            
                    <!-- Don't display the book that's already on this page -->
                    {% if all.book_name == book.book_name %}
                
                    <!-- The result of the books with the same genre -->
                    {% else  %}
                    
                        <div class="col-sm-12 col-md-4">  
                            <!-- Book's name and redirect link to its full details page -->
                            <a href="{{ url_for('full_book_details', book_id=all._id)}}">
                                <h5 class="title_color">{{all.book_name|title}}</h5>
                            </a>

                            <!-- Author name -->
                            <p class="author_color">{{all.author_name|title}}</p>

                            <!-- Rating value -->
                            <p>{{all.rating_value}} <i class="fa fa-star star_rating"></i></p>
                            
                            <!-- Check if there is an image uploaded for the book, and display it -->
                            {% if all.book_url %}
                                <p>
                                    <a href="{{ url_for('full_book_details', book_id=all._id) }}"><img class="img_height_width" src="{{all.book_url}}" alt="{{book.book_name}}"></a>
                                </p>
                            
                            <!-- If there isn't an image, then a default one will be shown -->
                            {% else %}
                                <p>
                                    <a href="{{ url_for('full_book_details', book_id=all._id) }}"><img
                                            src="{{ url_for('static', filename='img/unknown_book.png' )}}" height="200" width="200"
                                            alt="{{book.book_name}}"></img></a>
                                </p>
                            {% endif %} <!-- Closing if statement for images -->
                        </div> <!-- Closing col class -->

                    {% endif %} <!-- closing 'all.book_name == book.book_name' -->
            {% endif %} <!-- closing 'all.genre_name == book.genre_name' -->
        {% endfor %} <!-- closing 'for all in all_books'  -->
                
    </div> <!-- Closing row -->  
</div> <!-- Closing container -->
<br>

<!-- A different message is displayed if there aren't any similar books -->

{% if book_num|length > 1 %}

{% else %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <p>Add more books to find similar ones</p>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}