{% extends 'base.html' %}
{% block page_title %}
<title>Home Page</title>
{% endblock %}

{% block content %}
<br>
<br>
<!-- Fiction jumbotron -->
<div class="container">
    <div class="jumbotron page" id="page1">
        <div class="container">
            <h1 class="display-3">Top Fiction Titles</h1><br>
            
            <div class="row flex_container center-align">
                {% for book in fiction %}
                    <div class="col-sm-12 col-md-4 flex">
                        
                        <a href="{{ url_for('full_book_details', book_id=book._id)}}">
                            <p class="title_color"><strong>{{book.book_name|title}}</strong></p>
                        </a>
                        <p class="author_color">by {{book.author_name|title}}</p>
                        {% if book.book_url %}
                        <p><a href="{{ url_for('full_book_details', book_id=book._id) }}"><img src="{{book.book_url}}" alt="{{book.book_name}}" height="210" width="150"></p></a>
                        {% else %}
                        <p><a href="{{ url_for('full_book_details', book_id=book._id) }}"><img src="{{ url_for('static', filename='img/unknown_book.png' )}}" height="200" width="200" alt="{{book.book_name}}"></img></a>
                        </p>
                        {% endif %}
                        <p>{{book.rating_value}} <i class="fa fa-star star_rating"></i></p>
                        <p>{{book.genre_name}}</p> 
    
                    </div> <!-- closing col-sm-12 -->
                {% else %}
                <p class="margin-top">Add some 5 or 4 star rated books!</p>
                {% endfor %}
            </div> <!-- closing row -->
            
            
            <p><a class="btn btn-lg btn-success" href="{{ url_for ('fiction_books') }}" role="button">All Fiction Titles</a></p>
        </div> <!-- closing container -->
    </div> <!-- closing class jumbotron page-->

    <!-- Non-fiction jumbotron -->
    <div class="jumbotron page" id="page2">
        <h1 class="display-3">Top Non-Fiction Titles</h1>
        
            <div class="container">
                <br>
                <div class="row flex_container center-align">
                    {% for book in non_fiction %}
                    <div class="col-sm-12 col-md-4 flex">
            
                        <a href="{{ url_for('full_book_details', book_id=book._id)}}">
                            <p class="title_color"><strong>{{book.book_name|title}}</strong></p>
                        </a>
                        <p class="author_color">by {{book.author_name|title}}</p>
                        {% if book.book_url %}
                        <p><a href="{{ url_for('full_book_details', book_id=book._id) }}"><img src="{{book.book_url}}" alt="{{book.book_name}}" height="210" width="150"></p></a>
                        {% else %}
                        <p><a href="{{ url_for('full_book_details', book_id=book._id) }}"><img src="{{ url_for('static', filename='img/unknown_book.png' )}}" height="200" width="200" alt="{{book.book_name}}"></img></a>
                        </p>
                        {% endif %}
                        <p>{{book.rating_value}} <i class="fa fa-star star_rating"></i></p>
                        <p>{{book.genre_name}}</p>
            
                    </div> <!-- closing col-sm-12 -->
                    {% else %}
                    <p class="margin-top">Add some 5 or 4 star rated books!</p>
                    {% endfor %}
                </div> <!-- closing row -->
            </div> <!-- closing container -->
        
        <p><a class="btn btn-lg btn-success" href="{{ url_for ('non_fiction_books') }}" role="button">All Non-Fiction Titles</a></p>
    </div>
    
    <ul id="pagination-demo" class="pagination-lg pull-right"></ul>
</div> <!-- closing container for both boxes-->

<br>
{% endblock %}