{% extends 'base.html' %}
{% block page_title %}
<title>Home Page</title>
{% endblock %}

{% block content %}
<br>
<br>
<!-- Fiction jumbotron -->
<div class="container">
    <div class="jumbotron page" id="page1">
        <div class="container">
            <h1 class="display-3">Top Fiction Titles</h1><br>
            
            <div class="row center-align">
                {% for book in fiction %}
                    <div class="col-sm-12 col-md-4 margin-top">
                        
                        <!-- Book's name with link to be redirected to full details page -->
                        <a href="{{ url_for('full_book_details', book_id=book._id)}}">
                            <p class="ellipses title_color"><strong>{{book.book_name|title}}</strong></p>
                        </a>

                        <!-- Author name -->
                        <p class="ellipses author_color">by {{book.author_name|title}}</p>

                        <!-- Checks if an image has been uploaded -->
                        {% if book.book_url %}

                            <!-- Checks if the image uploaded is invalid. If it is invalid, a default image will be shown -->
                            {% if book.book_name in invalid_books %}
                                <p>
                                    <a href="{{ url_for('full_book_details', book_id=book._id) }}"><img class="unknown_img"
                                            src="{{ url_for('static', filename='img/unknown_book.png' )}}" alt="{{book.book_name}}"></img></a>
                                </p>

                            <!-- If the image is valid it will be displayed -->
                            {% else %}
                                <p>
                                    <a href="{{ url_for('full_book_details', book_id=book._id) }}"><img class="img_height_width" 
                                        src="{{book.book_url}}" alt="{{book.book_name}}"></img></a>
                                </p>
                            {% endif %}

                        <!-- If no image has been uploaded altogether, a default image will be shown -->
                        {% else %}
                            <p>
                                <a href="{{ url_for('full_book_details', book_id=book._id) }}"><img class="unknown_img" 
                                    src="{{ url_for('static', filename='img/unknown_book.png' )}}" alt="{{book.book_name}}"></img></a>
                            </p>
                        {% endif %}

                        <!-- Book's rating -->
                        <p>{{book.rating_value}} <i class="fa fa-star star_rating"></i></p>

                        <!-- Book's genre -->
                        <p>{{book.genre_name}}</p> 
    
                    </div> <!-- Closing col-sm-12 col-md-4 flex -->
                {% else %}
                    <p class="margin-top">Add some 5 or 4 star rated books!</p>
                {% endfor %}
            </div> <!-- closing row -->
            
            <p><a class="btn btn-lg btn-success" href="{{ url_for ('fiction_books') }}" role="button">All Fiction Titles</a></p>
        </div> <!-- closing container -->
    </div> <!-- closing class jumbotron page-->

    <!-- Non-fiction jumbotron -->
    <div class="jumbotron page" id="page2">
        <h1 class="display-3">Top Non-Fiction Titles</h1>
        <div class="container">
            <br>
            <div class="row center-align">
                {% for book in non_fiction %}
                    <div class="col-sm-12 col-md-4 margin-top">
                        
                        <!-- Book's name with link to be redirected to full details page -->
                        <a href="{{ url_for('full_book_details', book_id=book._id)}}">
                            <p class="ellipses title_color"><strong>{{book.book_name|title}}</strong></p>
                        </a>

                        <!-- Author name -->
                        <p class="ellipses author_color">by {{book.author_name|title}}</p>

                        <!-- Checks if an image has been uploaded -->
                        {% if book.book_url %}

                            <!-- Checks if the image uploaded is invalid. If it is invalid, a default image will be shown -->
                            {% if book.book_name in invalid_books %}
                                <p>
                                    <a href="{{ url_for('full_book_details', book_id=book._id) }}"><img class="unknown_img"
                                            src="{{ url_for('static', filename='img/unknown_book.png' )}}" alt="{{book.book_name}}"></img></a>
                                </p>

                            <!-- If the image is valid it will be displayed -->
                            {% else %}
                                <p>
                                    <a href="{{ url_for('full_book_details', book_id=book._id) }}"><img class="img_height_width" 
                                        src="{{book.book_url}}" alt="{{book.book_name}}"></a>
                                </p>
                            {% endif %}

                        <!-- If no image has been uploaded altogether, a default image will be shown -->
                        {% else %}
                            <p>
                                <a href="{{ url_for('full_book_details', book_id=book._id) }}"><img class="unknown_img" 
                                    src="{{ url_for('static', filename='img/unknown_book.png' )}}" alt="{{book.book_name}}"></img></a>
                            </p>
                        {% endif %}

                        <!-- Book rating -->
                        <p>{{book.rating_value}} <i class="fa fa-star star_rating"></i></p>

                        <!-- Book genre -->
                        <p>{{book.genre_name}}</p>
            
                    </div> <!-- Closing col-sm-12 col-md-4 flex -->
                {% else %}
                    <p class="margin-top">Add some 5 or 4 star rated books!</p>
                {% endfor %}
            </div> <!-- closing row -->

            <p><a class="btn btn-lg btn-success" href="{{ url_for ('non_fiction_books') }}" role="button">All Non-Fiction Titles</a></p>
        </div> <!-- closing container -->
        
    </div> <!-- Closing jumbotron class div -->
    
    <ul id="pagination-demo" class="pagination-lg pull-right"></ul>
</div> <!-- closing container for both boxes-->

<br>
{% endblock %}