{% extends 'base.html' %}
{% block page_title %} <title>Non-Fiction Books</title> {% endblock %}

{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>All Non-Fiction Books</h2>
        </div>
    </div>
</div>
<br>
<!-- Displays the genres associated with the non-fiction titles -->
<div class="container">
    <div class="row">
        {% for genre in non_fiction_genres %}
        <form action="{{ url_for('non_fiction_genre_search') }}" method="POST">
            <div class="col-sm-12 col-md-4">
                <button class="search_button" type="submit" name="genre_name"
                    value="{{genre.genre_name}}">{{genre.genre_name}}</button>
            </div>
        </form>
        {% endfor %}
    </div>
</div>

<!-- Link to 'other' genre books -->
<div class="container">
    <a href="{{ url_for('other_books') }}"><button class="search_button" type="submit" name="other_genre_name" value="Other">Other</button></a>
</div>
<br>

<!-- Total number of non-fiction books -->
<div class='container'>
    <div class='row'>
        <div class='col-sm-12 col-md-12'>

            <!-- Count for results -->
            {% if book_count == 0 %}
                <p>No Non-Fiction Books Found</p>

            {% elif book_count == 1 %}
                <p>{{book_count}} Non-Fiction Book Found</p>
                
            {% else %}
                <p>{{book_count}} Non-Fiction Books Found</p>
            {% endif %}

        </div>
    </div>
</div>
<br>
<!-- Displays all non-fiction books -->
<div class="container">
    <div class="row">

        {% for book in non_fiction %}
        <div class="col-sm-12 col-md-4">
            <!-- Book name with link to full details of the book -->
            <a href="{{ url_for('full_book_details', book_id=book._id)}}">
                <h5 class="title_color">{{book.book_name|title}}</h5>
            </a>

            <p class="author_color">by {{book.author_name|title}}</p>
            <p>{{book.rating_value}} <i class="fa fa-star star_rating"></i></p>

            <!-- The book's image will be displayed if there is one -->
            {% if book.book_url %}
                <p>
                    <a href="{{ url_for('full_book_details', book_id=book._id) }}">
                        <img class="img_height_width" src="{{book.book_url}}" alt="{{book.book_name}}"><img>
                    </a>
                </p>
    
            <!-- If there isn't an image uploaded, then a default image will be displayed instead -->
            {% else %}
                <p>
                    <a href="{{ url_for('full_book_details', book_id=book._id) }}">
                        <img src="{{ url_for('static', filename='img/unknown_book.png' )}}" height="200" width="200"
                            alt="{{book.book_name}}"></img>
                    </a>
                </p>
            {% endif %}
            <hr>
            <br>
        </div> <!-- closing col-sm-12 -->
        {% endfor %}
    </div> <!-- closing row -->

    <!-- Pagination -->
    <ul class="pagination">
        {% for page_number in page %}

            <!-- Displays the current page number -->
            {% if page_number == current_page %}
                <li class="active"><a class="pagination">{{ page_number }}</a></li>
            
                <!-- Displays the next page number(s) -->
            {% else %}
                <li class="waves-effect"><a class="pagination"
                        href="{{ url_for('non_fiction_books', current_page=page_number) }}">{{ page_number }}</a></li>
                
            {% endif %}
        {% endfor %}
    </ul>
    <br>

    <p><a class="btn btn-lg btn-success" href="{{ url_for ('search_page') }}" role="button">Search all books</a></p>
    <br>
</div> <!-- closing container -->

{% endblock %}