{% extends 'base.html' %}
{% block page_title %} <title>Other Non-Fiction Books</title> {% endblock %}

{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <a href="{{ url_for('non_fiction_books') }}">
                <h2 class="custom_a">All Non-Fiction Books</h2>
            </a>
        </div>
    </div>
</div>
<br>

<!-- Displays the genres associated with the non-fiction titles -->
<div class="container">
    <div class="row">
        {% for genre in non_fiction_genres %}
            <form action="{{ url_for('non_fiction_genre_search') }}" method="POST">
                <div class="col-sm-12 col-md-4">
                    <button class="search_button" type="submit" name="genre_name"
                        value="{{genre.genre_name}}">{{genre.genre_name}}</button>
                </div>
            </form>
        {% endfor %}
    </div>
</div>

<!-- Button to display 'other' books -->
<div class="container">
    <a href="{{ url_for('other_books') }}"><button class="search_button" type="submit" name="other_genre_name"
            value="Other">Other</button></a>
</div>
<br>

<div class='container'>
    <div class='row'>
        <div class='col-sm-12 col-md-12'>

            <!-- Count for results -->
            {% if other_books_count == 0 %}
                <p>No Other Books Found</p>

            {% elif other_books_count == 1 %}
                <p>{{other_books_count}} Other Book Found</p>

            {% else %}
                <p>{{other_books_count}} Other Books Found</p>
            {% endif %}

        </div>
    </div>
</div>
<br>

<!-- Displays 'other' non-fiction books -->
<div class="container">
    <div class="row">
        {% for book in other_books %}
            <div class="col-sm-12 col-md-4">
                <!-- Book name as well as link to full details page -->
                <a href="{{ url_for('full_book_details', book_id=book._id)}}">
                    <p class="ellipses title_color"><strong>{{book.book_name|title}}</strong></p>
                </a>

                <p>
                    <!-- Genre name -->
                    {{book.genre_name}}<br>
                    
                    <!-- Author name -->
                    <span class="ellipses author_color">by {{book.author_name|title}}</span>
                </p>

                <!-- Rating -->
                <p>{{book.rating_value}} <i class="fa fa-star star_rating"></i></p>

                <!-- If there is an image uploaded for the book then it will be displayed, which also links to the full details page -->
                {% if book.book_url %}
                    <p>
                        <a href="{{ url_for('full_book_details', book_id=book._id) }}"><img class="img_height_width" src="{{book.book_url}}"
                                alt="{{book.book_name}}"></img></a>
                    </p>

                <!-- A default image will be displayed if there isn't an image uploaded -->
                {% else %}
                    <p>
                        <a href="{{ url_for('full_book_details', book_id=book._id) }}"><img class="unknown_img"
                                src="{{ url_for('static', filename='img/unknown_book.png' )}}"
                                alt="{{book.book_name}}"></img></a>
                    </p>
                {% endif %}
                <hr>
            </div> <!-- Close col classes -->
        {% endfor %}
    </div> <!-- Close row -->
</div> <!-- Close container -->

{% endblock %}