{% extends 'base.html' %}
{% block page_title %} <title>Other Fiction Books</title> {% endblock %}

{% block content %}
<div class="container margin_top">
    <div class="row">
        <div class="col-sm-12">
            <a href="{{ url_for('fiction_books') }}">
                <h2 class="custom_a">All Fiction Books</h2>
            </a>
        </div>
    </div>
</div>

<!-- Displays the genres associated with the fiction titles -->
<div class="container margin_top">
    <div class="row">
        {% for genre in fiction_genres %}
            <form action="{{ url_for('fiction_genre_search') }}" method="POST">
                <div class="col-sm-12 col-md-4">
                    <button class="search_button" type="submit" name="genre_name"
                        value="{{genre.genre_name}}">{{genre.genre_name}}</button>
                </div>
            </form>
        {% endfor %}
    </div>
</div>

<!-- Button for 'other' books -->
<div class="container">
    <a href="{{ url_for('other_fiction_books') }}"><button class="search_button" type="submit" name="other_genre_name"
            value="Other">Other</button></a>
</div>

<!-- Other book results -->
<div class='container margin_top'>
    <div class='row'>
        <div class='col-sm-12 col-md-12'>

            <!-- Count for results -->
            {% if other_fiction_books_count == 0 %}
                <p>No Other Books Found</p>
            {% elif other_fiction_books_count == 1 %}
                <p>{{other_fiction_books_count}} Other Book Found</p>
            {% else %}
                <p>{{other_fiction_books_count}} Other Books Found</p>
            {% endif %}

        </div>
    </div>
</div>

<!-- Displays 'other' fiction books -->
<div class="container">
    <div class="row">
        {% for book in other_fiction_books %}
            <div class="col-sm-12 col-md-4">
                
                <!-- Book name which also links to full book details page -->
                <a href="{{ url_for('full_book_details', book_id=book._id)}}">
                    <p class="ellipses title_color"><strong>{{book.book_name|title}}</strong></p>
                </a>

                <p>
                    <!-- Genre name -->
                    {{book.genre_name}}<br>

                    <!-- Author name -->
                    <span class="ellipses author_color">by {{book.author_name|title}}</span>
                </p>

                <!-- Rating for book -->
                <p>{{book.rating_value}} <i class="fa fa-star star_rating"></i></p>

                <!-- Checks if an image has been uploaded -->
                {% if book.book_url %}

                    <!-- Checks if the image uploaded is invalid. If it is invalid, a default image will be shown -->
                    {% if book.book_name in invalid_books %}
                        <p>
                            <a href="{{ url_for('full_book_details', book_id=book._id) }}"><img class="unknown_img"
                                    src="{{ url_for('static', filename='img/unknown_book.png' )}}" alt="{{book.book_name}}"></img></a>
                        </p>

                    <!-- If the image is valid it will be displayed -->
                    {% else %}
                        <p>
                            <a href="{{ url_for('full_book_details', book_id=book._id) }}"><img class="img_height_width"
                                    src="{{book.book_url}}" alt="{{book.book_name}}"></img></a>
                        </p>
                    {% endif %}

                <!-- If no image has been uploaded altogether, a default image will be shown -->
                {% else %}
                    <p>
                        <a href="{{ url_for('full_book_details', book_id=book._id) }}"><img class="unknown_img"
                                src="{{ url_for('static', filename='img/unknown_book.png' )}}"
                                alt="{{book.book_name}}"></img></a>
                    </p>
                {% endif %}
                
            </div> <!-- Close col classes -->
        {% endfor %}
    </div> <!-- Close row -->
</div> <!-- Close container -->

{% endblock %}