{% extends 'base.html' %}
{% block page_title %} <title>Search Books</title> {% endblock %}

{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <a href="{{ url_for('search_page') }}">
                <h2 class="custom_a">Search All Books</h2>
            </a>
        </div>
    </div>
</div>

<br>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-2">
            <p><a class="search_heading custom_a" href="{{ url_for('search_genre') }}">Search by genre</a></p>
        </div>
        <div class="col-sm-12 col-md-2">
            <p><a class="search_heading custom_a" href="{{ url_for('search_rating') }}">Search by ratings</a></p>
        </div>
    </div> <!-- closing row -->
    <br>
</div> <!-- closing container -->

<br>
<!-- Buttons to allow user to search based on ratings -->
<div class="container">
    <div class="row">
        {% for rating in ratings %}
        <form action="{{ url_for('search_rating_function') }}" method="POST">

            <!-- Displays the different ratings available as buttons -->
            <div class="col-sm-12">
                <button class="search_button" type="submit" name="rating_value" value="{{rating.rating_value}}">{{rating.rating_value}} <i class="fa fa-star star_rating"></i></button>
            </div>

        </form>
        {% endfor %}
    </div>
</div>

<br>

<!-- Results for rating search -->

{% if rating_results %}
<div class='container'>
    <div class='row'>
        <div class='col-sm-12 col-md-12'>
            
            <!-- Counts results -->
            {% if rating_count == 0 %}
            <p>No books with a {{rating_value}} <i class="fa fa-star star_rating"></i> rating</p>
            {% elif rating_count == 1 %}
            <p>{{rating_count}} book with a {{rating_value}} <i class="fa fa-star star_rating"></i> rating</p>
            {% else %}
            <p>{{rating_count}} books with a {{rating_value}} <i class="fa fa-star star_rating"></i> rating</p>
            {% endif %}

        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        {% for book in rating_results %}
        <div class="col-sm-12 col-md-4">
            
            <!-- Displays results -->

            <!-- Image links to full book details page -->
            <a href="{{ url_for('full_book_details', book_id=book._id)}}">
                <p class="title_color"><strong>{{book.book_name|title}}</strong></p>
            </a>
            <p class="author_color">by {{book.author_name|title}}</p>

            <!-- If there is an image uploaded for the book then it will be displayed -->
            {% if book.book_url %}
            <p><a href="{{ url_for('full_book_details', book_id=book._id) }}"><img src="{{book.book_url}}" alt="Book Image"
                        height="200" width="150"></p></a>

            <!-- A default image will be displayed if there isn't an image uploaded -->
            {% else %}
            <p><a href="{{ url_for('full_book_details', book_id=book._id) }}"><img
                        src="{{ url_for('static', filename='img/unknown_book.png' )}}" height="200" width="200"
                        alt="Book Image"></img></a>
            </p>
            {% endif %}
            <hr>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% endblock %}