{% extends 'base.html' %}
{% block page_title %} <title>Search Books</title> {% endblock %}

{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <a href="{{ url_for('search_page') }}"><h2 class="custom_a">Search All Books</h2></a>
        </div>
    </div>
</div>

<br>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-2">
            <p><a class="search_heading custom_a" href="{{ url_for('search_genre') }}">Search by genre</a></p>
        </div>
        <div class="col-sm-12 col-md-2">
            <p><a class="search_heading custom_a" href="{{ url_for('search_rating') }}">Search by ratings</a></p>
        </div>
    </div> <!-- closing row -->
    <br>
</div> <!-- closing container -->

<br>

<!-- Buttons for genre selection -->
<div class="container">
    <div class="row">
        {% for genre in all_genre %}
        <form action="{{ url_for('search_genre_function') }}" method="POST">
            
            <div class="col-sm-12 col-md-4">
                <button class="search_button" type="submit" name="genre_name" value="{{genre.genre_name}}">{{genre.genre_name}}</button>
            </div>
            
        </form>
        {% endfor %}
    </div>
</div>

<br>
<!-- Results for genre search -->
{% if results %}
<div class='container'>
    <div class='row'>
        <div class='col-sm-12 col-md-12'>

            <!-- Count for results -->
            {% if genre_count == 0 %}
            <p>No {{genre_name}} Books Found</p>
            {% elif genre_count == 1 %}
            <p>{{genre_count}} {{genre_name}} Book Found</p>
            {% else %}
            <p>{{genre_count}} {{genre_name}} Books Found</p>
            {% endif %}

        </div>
    </div>
</div>
<br>
<!-- Displays results -->
<div class="container">
    <div class="row">
        {% for book in results %}
        <div class="col-sm-12 col-md-4">
            <a href="{{ url_for('full_book_details', book_id=book._id)}}">
                <p class="title_color"><strong>{{book.book_name|title}}</strong></p>
            </a>
            <p class="author_color">by {{book.author_name|title}}</p>
            <p>{{book.rating_value}} <i class="fa fa-star star_rating"></i></p>
            {% if book.book_url %}
            <p><a href="{{ url_for('full_book_details', book_id=book._id) }}"><img src="{{book.book_url}}" alt="Book Image"
                        height="200" width="150"></p></a>
            {% else %}
            <p><a href="{{ url_for('full_book_details', book_id=book._id) }}"><img
                        src="{{ url_for('static', filename='img/unknown_book.png' )}}" height="200" width="200"
                        alt="Book Image"></img></a>
            </p>
            {% endif %}
            <hr>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% endblock %}